:global(*),
:global(*::before),
:global(*::after) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pageContainer {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  